language: ruby
rvm:
 - 2.2.4
sudo: required
dist: trusty
cache:
  - bundler
  - apt
before_script:
before_install:
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
# - sh -e /etc/init.d/xvfb start
 - "/sbin/start-stop-daemon --start --quiet --pidfile /tmp/custom_xvfb_99.pid --make-pidfile --background --exec /usr/bin/Xvfb -- :99 -ac -screen 0 1920x1080x24"

addons:
  artifacts:
    debug: true
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable
# script: rake default
# script: system rake default
# script: rake validate
script: bundle exec rake default
notifications:
  slack:
    rooms:
      - travisci-team:xTDIVM6gMZOK4HzYAnwQzYrj#travisci
travis:
  encrypt "travisci-team:xTDIVM6gMZOK4HzYAnwQzYrj" --add notifications.slack
