language: ruby
rvm:
 - 2.2.4
sudo: required
cache:
  - bundler
  - apt
before_script:
before_install:
 - export CHROME_BIN=/usr/bin/google-chrome
 - export DISPLAY=:99.0
 - sh -e /etc/init.d/xvfb start

addons:
  apt:
    sources:
     - google-chrome
    packages:
     - google-chrome-stable
script: rake
